# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
.env.*
!.env.example

# Build & Output
dist/
build/
out/

# Uploads & Logs
uploads/
*.log
npm-debug.log*

# System & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
